{% extends 'KonstUploaderBundle::base.html.twig' %}
{% block body %}
    <div id="uploadStatus">
        {% for fileOnServer in filesOnServers %}
            <div class="fileOnServer" id="fileOnServer-{{ fileOnServer }}" data-id="{{ fileOnServer }}"></div>
        {% endfor %}
    </div>
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}